.foto {
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
  }
  
  #countdown {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
   border: 1px solid black;
  }

  .botones {
border: 1px solid black;
font-weight: bold;
text-align: center;
margin-top:1% ;
  }